{% extends 'famille/layout.html.twig' %}
{% block content %}
    <h1>Famille</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ famille.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ famille.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ famille.libelle }}</td>
            </tr>
            <tr>
                <th>Tvaid</th>
                <td>{{ famille.tva }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('famille_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('famille_edit', { 'id': famille.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
